@model ComplainBox.Models.Appointment

@{
    ViewData["Title"] = "Accept";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Accept</h3>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Accept">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AppointmentDate" class="control-label"></label>
                <input asp-for="AppointmentDate" class="form-control" />
                <span asp-validation-for="AppointmentDate" class="text-danger"></span>
            </div>
            
            <input type="hidden" asp-for="AppointmentId" />
            <div class="form-group">
                <input type="submit" value="Accepted" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index2">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
